[Unit]
Description=HPlayer
           
[Service]
Type=simple
ExecStartPre=-hplayer2-kill
ExecStart=hplayer2 %i
ExecStop=hplayer2-kill
Restart=always
           
[Install]
WantedBy=default.target
