[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zeroconf = "==0.31.0"
flask-socketio = "*"
netifaces = "*"
pymitter = "*"
mido = "*"
python-rtmidi = "*"
paho-mqtt = "*"
timecode = "*"
pilmoji = "*"
emoji = "~=1.6.3"
numpy = "*"
opencv-python = "*"
stupidartnet = "*"
watchdog = "*"
pillow = "*"
pyserial = "*"
eventlet = "*"
evdev = "*"
termcolor = "*"
czmq = {file = "scripts/czmq/bindings/python", editable = true}
zyre = {file = "scripts/zyre/bindings/python", editable = true}

[dev-packages]

[requires]
python_version = "3"
