zeroconf==0.31.0
flask-socketio
netifaces
wheel
pymitter
mido
python-rtmidi
paho-mqtt
timecode
emoji~=1.6.3
pilmoji
# numpy
# opencv-python
stupidartnet
watchdog
pillow
setuptools
pyserial
eventlet
evdev
termcolor
