zeroconf==0.31.0
flask-socketio
netifaces
wheel
pymitter
mido
python-rtmidi
paho-mqtt
timecode
pilmoji
emoji~=1.6.3
numpy
opencv-python
stupidartnet
watchdog
pillow
setuptools
pyserial
eventlet
evdev
termcolor